:root {
    --uc-radius: 0px !important;
    --uc-button-radius: 0px !important;
    --uc-content-radius: 0px !important;

    --uc-hover-target-size: 0px !important;

    --uc-small-floating-margin: 0px !important;
    --uc-floating-margin: 0px !important;
}